.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(../../../images/cloze-button.png) center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 550px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
    }
}