.header__link {
    font-family: 'Inter', 'Arial', 'Georgia', 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s linear opacity;
    margin: 0;
    padding: 0px 0 15px 24px;
}

@media screen and (max-width: 500px){
.header__link {
    font-size: 14px;
    padding-bottom: 10px;
}
}

.header__link:hover {
    opacity: .6;
}