.card__delete-button{
    margin: 0;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/корзина.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: 0.5;
    
}
    