
.popup__image-content {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    margin: 90px auto;
    position: relative;
}

@media (max-width: 700px) {
    .popup__image-content {
        margin: 136px auto auto;
    }
}
